// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color : green;
  font-size : 30pt;
  font-family : fantasy;
  
}
thead {
  color : blue;
  font-size : 15pt;
  font-family : 'Century Gothic';
}