<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>氏名</th>
    <td><%= @join.name %></td>
  </tr>
  <tr>
    <th>社員番号</th>
    <td><%= @join.number %></td>
  </tr>
</table>
<br><br><br>
<%= link_to '戻る', "/events" %>
<br><br><br>